body {
background: url('../img/bgcoll-logo.png') no-repeat;
background-position:80% 10%;
font-family: 'open_sansregular', sans-serif;
}

h1,h2,h3,h4,h5,h6,button, .button {
font-family: 'open_sansregular', sans-serif;
}

.getContent { 
cursor: pointer;
}

#intro {
display: table;
width: 100%;
height: 100%;
padding: 100px 0;
text-align: center;
color: #FFF;
/* background: url('../img/intro-bg.jpg') no-repeat bottom center scroll; */
background-color: #126497;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}

h2 {
color:#fff;
}
.subheader {
color: #D7DADB;
}

.intro-body {
display: table-cell;
vertical-align: middle;
}

.page-scroll .button {
font-size: 3rem;
}

.page-scroll a {
text-decoration: none;
font-size: larger;
color:#fff;
}

#searchbox fieldset {
background-color: #DCE9F0;
}

#main-content {
padding-top:3%;
min-height:90%;
}
#main-content .row {
padding-bottom:3%;
}

#content-box div.columns {
text-align: center
}

footer > p {
text-align: center;
padding: 5rem;
color: #fff;
background-color: #126497;
}

.enlarge {
width: 250px;
height: 250px;
line-height:250px;
z-index:99;
}

#response a {
font-size:normal;
margin:10px;
width:180px;
height:180px;
vertical-align:top;
}

#responseFromSearchBox a {
font-size:larger;
font-weight:bold;
}

#responseDescription {
padding-right: 6rem;
padding-top: 2rem;
}

#content-box a p {
color:#000;
}

.preloader {
position:relative; /* one page design, overwrite Foundation default */
width: 80px;
height: 80px;
top: 35%;
}

.invisible {
display:none;
}

/* Cart options */
.simpleCart_items{
padding-bottom: 20px;
}

.headerRow {
display:none
}

.itemRow {
padding-bottom: 10px;
}

/* change style for accordion */
dl.accordion dd.active a.item_name {
background-color:#fff;
}
dl.accordion dd.active a.item_add {
background-color:#007095;
}